* {
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}

@font-face {
    font-family: MajorMonoDisplay;
    src: url(./fonts/MajorMonoDisplay-Regular.ttf);
}

.banner{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(./images/Monos.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.navbar ul li ::after {
    content: '';
    height: 1.5px;
    width: 0;
    background: #fff;
    position: absolute;
    left : 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li :hover::after {
    width: 100%;
}

.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 90%;
    background-color: rgb(111, 110, 109);
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 100%;
}

.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}

.socialIcons a i{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.spotify {
    align-items: center;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 200px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.input-box i {
    color: #555;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    padding-left: 200px;
    margin-top: 5px;
}

.return {
    margin: 65px;
    padding-left: 10px;
}

.return ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    position: relative;
}

.return ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-size: 25px;
}

.return ul li ::after {
    content: '';
    height: 1.5px;
    width: 0;
    background: #fff;
    position: absolute;
    left : 0;
    bottom: -5px;
    transition: 0.5s;
}

.return ul li :hover::after {
    width: 100%;
}


.my_name {
    font-family: MajorMonoDisplay;
    font-size: 30px;
    color: aliceblue;
    margin-left: 20px;
    margin-top: 10px;
}